@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Patua+One&display=swap');


/* NAV BAR AND FOOTER STYLING */


.task_header {
    margin-top: 5px;
    margin-left: 10px
}

.brand-logo {
    margin-left: 15px;
    font-family: 'Patua One', cursive;
}

nav {
    margin-bottom: 40px;
    background-color: #00BFFF;
    box-shadow: 0px 5px 5px black;
}

.nav-list-item {
    font-family: 'Open Sans', sans-serif;
}

.logged-in-as {
    cursor: default;
     pointer-events: none;
}

.page-footer {
    background-color: #00BFFF;
    box-shadow: 0px -5px 5px black;
    bottom: 0;
    left: 0;
    position: relative;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

.footer-row {
    padding: 0;
    margin: 0;
}

.contact-footer {
    word-break: break-word;
}

/* (OVERRIDING MATERIALIZE ROW AND COL STYLES) */

.row .col.footer-text-col {
    width: 33%;
}


/* HOME PAGE STYLE */


.homepage-title {
    text-align: center;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: 'Patua One', cursive;

}

.homepage-webdescription {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin-bottom: 25px;
}

.hr-home {
    width: 200px;
    height: 2px;
    background-color: black;
    margin-bottom: 60px;
    border: none;
}

.card-link-container {
    width: 100%
}


/* CARD STYLES */


.card {
    background-color: #00BFFF;
    box-shadow: 5px 5px 15px black;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    transition: background-color .3s ease-in-out
}

.card-hover:hover {
    background-color: #1E90FF;
}

.card-title {
    font-family: 'Patua One', cursive;
}

.term-hr {
    background-color: white;
    border: none;
    width: 75px;
    height: 1px;
}

.term-text {
    font-family: 'Open Sans', sans-serif;
    word-break: break-word;
}


.term-title {
    font-family: 'Patua One', cursive;
    font-size: 18px;
    word-break: break-word;
}

/* (OVERRIDING MATERIALIZE ROW AND COL STYLES) */

.col .row.card-row {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 0; 
    margin-top: 0;
    margin-bottom: 0;
}

.col .row.card-row-container {
    width:50%;
    height: 50%;
	position: relative;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}


/* LOGIN FORMS */


button {
    border: none;
    background: transparent;
    margin: 2% 0 2% 0;
    padding: 0;
}


/* CATEGORY PAGE STYLES (OVERRIDING MATERIALIZE ROW AND COL STYLES) */


.row .term-card {
    width: 40%;
    float: left;
    margin: 30px 5% 0 5%;
}

.row .col.term-card-col {
    width: 100%;
}

.col .row {
    margin-left: 0;
    margin-right: 0;
}


/* ADMIND PAGE STYYLES */


.approve-btn {
    background-color: green;
    font-family: 'Patua One', cursive;
    color: white;
    box-shadow: 3px 3px 5px black;
    margin: 0;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.delete-btn {
    background-color: #8B0000;
    font-family: 'Patua One', cursive;
    box-shadow: 3px 3px 5px black;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.approve-btn:hover {
        background-color: #00FF00;
        color: black;
        box-shadow: 3px 3px 5px black;
}

.delete-btn:hover {
        background-color: red;
        box-shadow: 3px 3px 5px black;
}


/* Media Queries */


@media (max-width: 1320px) {
    .col .row.card-row-container {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .row .term-card {
        width: 80%;
        float: none;
        margin: 30px 10% 0 10%;
    }
}

/* OVERRIDING MATERIALIZE CSS */

@media only screen and (max-width: 992px) {
nav .brand-logo {
    width: 80%;
    left: 50%;
    text-align: center;
}
}

/* FLASH CARDS */


.flashes {
    background-color: #00BFFF;
    color: white;
    font-family: 'Patua One', cursive;
    width: 50%;
    border: 2px solid black;
    text-align: center;
    margin: 2% 25% 2% 25%;
}


/* Website mobile sizing fix */


.body-flex {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  flex: 1;
}