{% extends 'base.html' %} {% block content %}

{% for term in terms %}

<div class="row">
    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header">
                <div class="col s3">
                    <i class="material-icons">expand_more</i>  
                </div>
                <div class=" task_header col s9">
                    <strong>{{terms.category_name}}</strong> - {{terms.term_name}}
                </div>
            </div>
            <div class="collapsible-body">
                <span>
                {{terms.definition}}
                <br>
                {{terms.term_use}}
            </span>
            </div>
        </li>
        {% endfor %}

    </ul>
</div>
{% endblock %}