{% extends 'base.html' %} {% block content %}

<div class="row">
    {% for term in terms %}
    {% if term.category_name == "HTML" %}
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-content white-text">
          <span class="card-title"><strong>{{term.term_name}}</strong> - {{term.category_name}}</span>
          <br>
          <p><strong>Definition:</strong> {{term.definition}}<hr><strong>Example:</strong> {{term.term_use}}</p>
        </div>
      </div>
    </div>
  </div>
        {% endif %}
                {% endfor %}

</div>
{% endblock %}      
