{% extends 'base.html' %} {% block content %}
<div class="row form_position">
  <div class="col form_col">
    <form method="POST" action="{{ url_for('login_addterm') }}">
      <div class="row form_size container">
        <div class="input-field col form_input">
          <i class="material-icons prefix">account_circle</i>
          <input
            id="username"
            type="text"
            class="validate"
            name="username"
            required/>
          <label for="username">Username</label>
        </div>
        <div class="input-field col form_input">
          <i class="material-icons prefix">vpn_key</i>
          <input
            id="password"
            type="password"
            class="validate"
            name="password"
            required/>
          <label for="password">Password</label>
        </div>
          <div class="input-field col form_button">
            <button type="submit">
              <a class="waves-effect waves-light btn">
                <i class="material-icons left">login</i>
                <strong>Login</strong>
              </a>
            </button>
          </div>
      </div>
    </form>
    <br/>
    <div class="form_button">
      Don't have an account?
      <a href="{{ url_for('register') }}">Sign up here</a>.
    </div>
  </div>
</div>
{% endblock %}
