{% extends 'base.html' %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <form method="POST" action="{{ url_for('login_addterm') }}">

            <!-- USERNAME INPUT -->

                <div class="col s12 m6">
                    <label for="ExampleUsername">Username</label>
                    <input type="text" class="" name="username" placeholder="Username">
                </div>

            <!-- PASSWORD INPUT -->

                <div class="col s12 m6">
                    <label for="ExamplePassword">Password</label>
                    <input type="password" class="" name="password" placeholder="Password">
                </div>

            <!-- LOGIN BUTTON -->

                <div class="col s12 login-button">
                    <button type="submit" class="btn">Log In</button>
                </div>
            </form>
            <br>

        <!-- REGISTER ACCOUNT LINK -->

            <div class="col s12 login-no-account">
                <p>Don't have an account?</p>
                <a href="{{ url_for('register') }}">Sign up here</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

